<html>
<body>
<form action="/logout" method="post">
    <input type="hidden"name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Sign Out"/>
</form>

<div>
    <form method="post" action="add">
        <input type="hidden"name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="text" placeholder="введите сообщение">
        <input type="text" name="tag" placeholder="тэг">
        <button type="submit">Добавить сообщение</button>
    </form>
</div>

<div>
    Поиск по тэгу:
    <form method="post" action="filter">
        <input type="hidden"name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="tag" placeholder="введите тэг">
        <button type="submit">Найти</button>
    </form>
</div>
<div>Список сообщений:</div>
{{#messages}}
    <div>
        <span>
        <span>{{id}}</span>
        <b>{{text}}</b>
        <i>{{tag}}</i>
            <form method="post" action="delete">
                <input type="hidden"name="_csrf" value="{{_csrf.token}}">
                <input type="hidden" name="id" value="{{id}}">
                <button type="submit">Удалить</button>
            </form>
        </span>
    </div>
{{/messages}}
</body>
</html>
